@import '../../styles/base.less';
.TournamentRankingsPage{
  margin-top: 9.5rem;
  .meta-data {
    font-size: @font2;
    margin-bottom: @margin-base;
  }
  .meta-data-title {
    margin-bottom: 0px;
  }
  .refresh-btn {
    margin-left: 1rem;
  }
}