@import '../../newStyles/text.less';
@import '../../newStyles/components.less';
@import '../../newStyles/index.less';

.CompetitionsPage {
  .noContainer();
  background: #FAFAFA;

  .competitionsHero {

    .gradient-hero();
    
    .headerContent {
      .generic-centered-section();
      margin-top: 9.5rem;
    }
 
  }

  
  .competitionsFooter {
    background: #FAFAFA;

    .generic-section();
    .constrained-bounds();

    .pastCompetitions { 

      
      h1 {
        color: @black;
      }
      
      p {
        max-width: @sm;
        color: @black;
      }
      
          
      .cardsBox {
        margin-top: 4rem;
  
      }

    }

  
  }
}
