@import '../../../styles/base.less';
.RegisterPage {

  .danger {
    color: @danger;
  }
  .registerButton {
    margin-top: @margin-base;
  }
  .registerCard {
    margin: auto;
    .smack-center();
    max-width: 90%;
  }
  .login-info {
    margin-top: 12px;
  }
}
