.TeamAvatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;

  &.small {
    width: 2rem;
    height: 2rem;
    margin-right: 0.75rem;
  }

  &.large {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
  }
}
