@import "../../newStyles/components.less";
@import "../../newStyles/variables.less";

.competition-portal {
  text-align: center;
  padding: 10rem;
  margin-bottom: @margin-base4;
  min-height: fit-content;

  h1 {
    font-size: 32px;
    font-weight: bold;
    
  }

  .highlight {
    .text-colorful();
  }
/* Sta/* Stats Section */
.stats-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 2px @mainred;
    
    
    overflow: hidden; 
  
    /* Titles Row */
    .stats-row.titles {
      font-size: @font8;
      font-weight: bold;
      color: white;
      margin-bottom: 10px;
      padding: 3vh;
      .gradient();
    }
  
    /* Values Row */
    .stats-row.values {
      margin: @margin-base4;

    }

    
    /* Diamond-Shaped Cards */
    .stat-card {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;

      border: solid 2px @mainred;

      transform: rotate(45deg);
      box-shadow: @bx1;
      margin: auto;
  
      .stat-value {
        font-size: 22px;
        font-weight: bold;
        transform: rotate(-45deg);
      }
    }
  }
  
  

  .tabs-container{

    margin: @margin-base4 auto;
    

    border: 1px solid @mainred;
    border-radius: 50px;
    
    width:fit-content;

    overflow: hidden;

    .tab {
        padding: @padding-base @padding-base2;
        text-align: center;

        &:hover{
          cursor: pointer;
        }
    }

    .tab-left {
        padding: @padding-base @padding-base2;
        text-align: center;
        margin-left: @margin-base2;

        &:hover{
          cursor: pointer;
        }

    }

    .tab-right {
        padding: @padding-base @padding-base2;
        text-align: center;
        margin-right: @margin-base2;

        &:hover{
          cursor: pointer;
        }
    }
    
    .selected {
        .gradient();
        color: white;
        border-radius: 50px;

        
    }
    

    
}

  /* Team Section */
  .team-section {
    max-width: 500px;
    margin: auto;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid @mainred;

    .team-info {
      font-size: 18px;
      font-weight: bold;

      .team-name {
        font-size: 24px;
        margin-top: 5px;
      }
    }

    .team-members {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;

      .member-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 8px;
        width: 15vw;
        text-align: center;
      }
    }

    .one-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;

        .join-team {
            .button-colorful();
            border: none;
    
            &:hover {
                color: @text-gray2;
            }
        }
    }

    .team-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;

      .leave-group {
        
        .button-red-outline();
    
        &:hover {
          color: @text-gray2;
        }
      }

      .add-member {
        .button-colorful();
        border: none;

        &:hover {
            color: @text-gray2;
        }
      }
    }
}

.search-tab{
    margin: @margin-base2 @margin-base;

    display: grid;
    place-items: center;  // Centers horizontally and vertically
    flex-grow: 1; 
    width: 100%;


    .all-teams{
        margin: @margin-base2 @margin-base;
    }

    .member-section{

        margin: @margin-base2 @margin-base;
        max-width: 500px;
        width: 100%;
        border: 1px solid @mainred;
        // display: flex;
        flex-direction: column;
        align-content: flex-start;

        .member-info {
            display: flex;  // Arrange avatar and name on the same row
            align-items: center;  // Vertically align the avatar and name
            margin-bottom: @margin-base;
        }
        
        .member-name {
            margin-left: 12px;  // Space between avatar and name
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 8px 0;
        }

        .one-btn {
            display: flex;
            justify-content: flex-end;
            margin-top: 15px;
    
            .join-team {
                .button-colorful();
                border: none;
        
                &:hover {
                    color: @text-gray2;
                }
            }
        }
    
    }
}




}
