// This file is to organize classNames for generic containers and layouts

@import './text.less';
@import './layout.less';
@import './variables.less';




// provides app theme linear gradient: red -> yellow
.gradient {
    background: linear-gradient(90deg, @mainred, @mainyellow);
}


// Every page has a header so it's better to keep a single source of truth here
.header-section {
    .generic-section();
}   


.footer-section {
    display: flex;
    flex-direction: column;
}


// A generic container to hold new content centered nicely
.generic-centered-section {
    .center-both-ways();
    .generic-section();
}

/* A constrained bounds has a width ratio of 70% and a
 * max width of 1024px so it does not
 * extend all the way to the screen's edges. This way we get 
 * content with enough whitespace on the horizontal axis.
 * Because all pages will be composed of the .noContainer()
 * className, a section with no bounded width is achieved by
 * omitting this class and/or .generic-section
 */
.constrained-bounds {
    width: 70%;
    margin: 0 auto;
    max-width: 1024px;

    @media screen and (max-width: @sm){
        width: 100%;
    }
}


// A wrapper for most sections with content 
.generic-section {
    padding: 3rem @padding-base2;
    margin: 0 auto; /* This will center the container horizontally */
    box-sizing: border-box; /* Include padding and borders within the width */
}


// gradient bar for separating sections
.gradient-bar {
  .gradient();
  padding: 3rem;
}



//  Buttons typically for auth or navigation
.button-square-black {
    background-color: @black;
    border-radius: @radius-base3;
   

    @media screen and (max-width: @sm){
        border-radius: @radius-base2;
    }

    .button();
    &:hover {
        opacity: 0.8;
    }
    p {
        color: @white
    }
}

.button-round-black {
    background-color: @black;

    .button();
    &:hover {
        opacity: 0.8;
    }
    h4 {
        color: @white;
    }
    p {
        color: @white
    }
}


// Another variation on the button
.button-round-white{
    background-color: @white;
    .button();
    &:hover {
        opacity: 0.8;
    }
}


.button {
    height: 4rem;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 8px;
    margin-right:8px;
    border-style: none;
}
