// This file organizes classNames related to content alignment 

@import './variables.less';

// classNames to align innerContent //
.center-both-ways {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

.noContainer { 
    margin-left: -48px;
    margin-right: -48px;
}


.center-horizontal {
    display: flex;
    justify-content: center;
}

.even-spaced-row {
    justify-content: space-between;
}

