@import '../../newStyles/text.less';
@import '../../newStyles/components.less';
@import '../../newStyles/index.less';
@import '../../newStyles/variables.less';


  .ProjectCard {

    // override default height
    //height: 250px !important;
    box-shadow: none !important;
    border: none;

    @media screen and (max-width: @md) {
      height: 100% !important/* Adjusted width for smaller screens */
    }

    .title {
      font-weight: @semi-bold;
      margin-top: 1rem;
      color: #f5621e;
    }



    .descriptionBox {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 10px;
      margin-top: 1rem;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      p {
        margin: 0;
        font-size: @font2;
        white-space: normal;
      }

      .iconsBox {
        display: flex;
        flex-direction: row;
        align-items: center;

        .viewModalButton {
          border: none;
          background: @black;
          display: flex;
          padding: 1rem;
          margin-right: 1rem;
          align-items: center;
          justify-content: center;
          p {
            color: white;

            @media screen and (max-width: @xs) {
              display: none;
              margin: none;
            }
            
          }

        }

        .gitHubButton {
          border: none;
          background: rgb(245, 245, 245);
          display: flex;
          padding: 1rem;
          align-items: center;
          p {
            color: @black;
            @media screen and (max-width: @xs) {
              display: none;
              margin: none;
            }
          }
        }


      
      }
    }


    .tags {
      display: flex;
      text-align: center;
      justify-content:initial;
      flex-grow: 1;
      flex-wrap: wrap;
      overflow-y: hidden;
      margin-bottom: 0.5rem;
    }
    .ant-tag {
      margin: 3px;
    }
    .description {
      font-size: @font1;
    }

  }

.ant-modal-content {
  border-radius: 2rem;

  .project-img {
    width: 100%;
    height: 200px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem 1rem 0 0;
  }
  .title {
    margin-bottom: 1rem;
  }
  .ant-tag {
    margin: 3px;
  }
  .ant-modal-footer {
    display: flex;
    justify-content: right;
    
    a {
      margin: 0 15px;
    }
  }
  
}
.ant-modal-body {
  .description {
    margin-top: 1rem;
  }
}
