@import '../legacy2020.less';

.Energium2020Page {
  .legacy-2020-page();
  .main-section {
    padding-top: 1rem !important;
    .tourney-btn {
      margin-right: 1rem;
      font-size: @font3;
      height: @font3 * 2;
    }
    .collectors-div {
      margin: auto;
      text-align: center;
      width: 100%;
      img {
        width: 240px;
      }
      caption {
        width: 100%;
        text-align: center;
        display: block;
      }
      margin-bottom: 1rem;
    }
  }
}
