@import '../../../styles/base.less';
.CompetitionLandingPage {
  .noContainer();
  .meta-data {
    font-size: @font2;
    margin-bottom: @margin-base;
  }
  .meta-data-title {
    margin-bottom: 0px;
  }
  p {
    font-size: @font2;
  }
  @import '../../../styles/impactful.less';
}