@import '../../newStyles/text.less';
@import '../../newStyles/components.less';
@import '../../newStyles/index.less';

.Main {

  // removes any default white space margins
  .noContainer();

  // Gradient container that holds the main website title and subtitle
  .homeHeader {
    padding-top: 14rem;
    padding-bottom: 16rem; 
    min-width: 180px;
    background: @mainred;
    .center-both-ways();

    @media screen and (max-width: @sm) {
      padding-top: 14rem;
      padding-bottom: 16rem;
    }


    .homeHeaderContent {
      width: 100%;
      .center-both-ways();
        
      // Main title "acm ai"
      .homeTitle {
        color: @white;
        text-align: center;
        .title1();
      }

      h4 {
        width: 60%;
        color: @white;
        max-width: @max-width1;
        color: @white;
        text-align: center;
      }

    }

  }


  // For titles like Events and Sponsor Us
  .homeSubTitle {
    width: 90%;
    text-align: center;
    max-width: @max-width2;
    min-width: 150px;
    color: @b1;
  }

  .homeBox {
    box-sizing: border-box;
    .generic-section();
    .constrained-bounds();
    margin-top: @content-top-margin;
    .homeInfo {
      padding-top: 1rem;
      padding-bottom: 1rem;
      max-width: @max-width3;

      .info {
        padding-bottom: 1.5rem;
      
        h3 {
          font-weight: @bold;
          font-size: @font4;
          line-height: 3rem;
        }
      
        Button {
          margin-top: @margin-base;
          margin-bottom: @margin-base;
          .button-black();
        }  
      }
    }


    // parent box just above the cardsBox
    .projectCompsBox {
      background-color: @orange;
      border-radius: @radius-base4;
      display: flex;
      flex-direction: column;
      margin-top: @content-top-margin;
      margin-bottom: 16px;
      h3 {
        color: white;
        margin: 2rem 0 1rem 2rem;
        font-weight: @semi-bold;
      }
      h4 {
        width: 80%;
        margin: 0 0 2rem 2rem;
        color: @white;
      }
    }

    // row that holds the two cards that converts to a column
    // at an xtra small device width for responsiveness
    .projectCompsCardsBox {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

      @media screen and (max-width: @xs) {
        flex-direction: column;
        width: 100%;
        justify-content:center;
      }
    

      // a card that holds basic info
      .previewCard {
        background-color: @black;
        max-height: 350px;
        width: calc(50% - 8px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: @font3;
        border-radius: @radius-base4;
        border-width: 0;

        @media screen and (max-width: @xs) {
          width: 100%; /* Adjusted width for smaller screens */
          margin-bottom: 16px;
        }

        .previewIcon {
          background: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          width: 45px;
          height: 45px; 
        }

    
        h3 {
          color: white;
          font-weight: @semi-bold;
          margin-bottom: 1rem;
        }

        h4 {
          color: rgb(213, 213, 213);
        }
      }
    }

  }





  // Container to hold events
  .eventsContainer {
    .generic-centered-section();
    .constrained-bounds();
    margin-top: @content-top-margin;
    h4 {
      max-width: @xxs;
    }
  }

  // wrapper to hold the collapse component
  .sponsorshipBox {
    .generic-centered-section();
    .constrained-bounds();
    margin-top: @content-top-margin;

   
    .sponsorshipCollapse {
      .gradient();
      .generic-centered-section();
      .constrained-bounds();
      padding: 3rem;
      border-radius: @radius-base4;
      margin-top: @margin-base2;
      .ant-collapse-arrow {
        color: white; /* Replace with your desired arrow color */
      }
      p {
        color: white;
      }
    }
  }


  // the gradient bar just above the main footer
  .homeBottomBar {
    .gradient();
    box-sizing: border-box;
    text-align: center;
    padding: 3rem;
    margin-top: 8rem;
  }

}