@import '../../newStyles/text.less';
@import '../../newStyles/components.less';
@import '../../newStyles/index.less';
@import '../../newStyles/variables.less';



.drawerButton {
  .button-square-black();
  width: 100px;
  height: 45px;
  border-radius: 14px;
  box-shadow: 0px 3px 5px 1px rgba(189, 189, 189, 0.5);
  color: white;
  font-weight: @semi-bold;

  @media only screen and (max-width: @md) {
    width: 80px;
    height: 35px;
    border-radius: 12px;
  }

  @media only screen and (max-width: @xxs) {
    display: none;
  }


}


.drawerContent {

  .drawerHeader {
    align-items: center;
    justify-content: start;

    @media only screen and (max-width: @xs) {
      justify-content: start;
    }

    @media only screen and (max-width: @xxs) {
      justify-content: center;
    }

    .titleBox {
      margin-top: 1rem;
      width: 70%;

      @media only screen and (max-width: @xs) {
        text-align: start;
      }

      @media only screen and (max-width: @xxs) {
        width: 100%;
        text-align: center;
      }

      h4 {
        font-weight: @semi-bold;
      }

      p {
        color: darkgray;
      }
    }
  }

  .bio {
    max-width: @sm;
    background: #FAFAFA;
    padding: 2rem 0;
    border-radius: @radius-base4;

    @media only screen and (max-width: @xs) {
      width: 100%;
    }

    p {
      width: 90%;
      margin: auto;

    }
  }



  .contactsBox {
    margin-top: 3rem;
    margin-bottom: 7rem;
    flex-direction: row;

    .links {

      section {
        margin-right: 1rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        background: #f7f7f7;
        border-radius: @radius-base3;
        align-items: center;
        height: 50px;
        width: 150px;

        div {
          display: flex;
          margin-left: 0.5rem;
          justify-content: center;
          align-items: center;
          border-radius: @radius-base1;
          background: white;
          height: 35px;
          width: 35px;
          box-shadow: 0px 3px 5px 1px rgba(189, 189, 189, 0.5);
        }

        a {
          color: darkgray;
          padding-left: 0.5rem;

          :hover {
            color: @mainred;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.AboutPage {
  .noContainer();
  margin-top: 9.5rem;

  .segmentedBox,
  .filterButton {
    margin-top: 2rem;
  }


  .aboutContent {
    .generic-centered-section();
    .constrained-bounds();
    text-align: center;

    h4 {
      max-width: 700px;
    }
  }


  .gallery {
    background: #FAFAFA;

    .teamSection {
      .generic-section();
      .constrained-bounds();

      .banner {
        margin-bottom: 2rem;
        text-align: start;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;


        .iconWrapper {
          background: white;
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 14px;
          margin: 1rem 1rem 1rem 0;

        }

        .statement {
          font-weight: @semi-bold;
          text-align: left;
          color: @black;
          margin: 1rem 1rem 1rem 0;

        }

      }

    }

    .AboutCard {
      border-radius: 20px;
      text-align: left;
      width: 100%;

      .cardPreviewContent {
        justify-content: space-between;
        align-items: center;

        .nameTitle {
          @media only screen and (max-width: @sm) {
            width: 70%;
          }

          h3 {
            font-weight: @semi-bold;
            line-height: @font4;
          }

          p {
            color: darkgray;
          }
        }


        .viewButton {
          width: 100px;
          height: 45px;
          border: none;
          border-radius: 14px;
          color: black;
          background: #F6F6F6;
          font-weight: @semi-bold;

          @media only screen and (max-width: @sm) {
            width: 80px;
            height: 40px;
            border-radius: 12px;
          }

          @media only screen and (max-width: @xxs) {
            width: 70px;
            border-radius: 10px;
          }

        }

      }

    }

    .image {
      max-height: 350px;
      height: 350px;
      width: 100%;
      border-radius: 20px 20px 0 0;

      @media only screen and (max-width: @lg) {
        height: 350px;
      }

      @media only screen and (max-width: @md) {
        height: 250px;
      }

      @media only screen and (max-width: @sm) {
        height: 250px;
      }

      @media only screen and (max-width: @xs) {
        height: 200px;
      }

      object-fit: cover;
    }


  }

  .aboutFooter {

    text-align: center;
    padding: 3rem;

    width: 100%;
    min-width: 180px;
    background-color: @black;
    color: @white;
  }

}

