@import '../../styles/base.less';
@import '../../newStyles/variables.less';
@import '../../newStyles/components.less';


#teamModalContent {

    section#teamMembersContainer {
        background: @gray;
        padding: @padding-base2;
        border-radius: @radius-base4;
        margin-top: 2rem;
    }


}

#joinCodeInput {
    max-width: 300px;
    margin-right: 1rem;
}

div.teamPreviewCard {
    
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 1fr 1fr;
    background: @gray;
    padding: @padding-base2;
    border-radius: @radius-base4;
    box-shadow: @bx3;


    h3 {
        max-width: 300px;
        font-weight: @semi-bold;
    }

    span:first-of-type {
        width: 70%;
        display: flex;
        align-items: center;

        p:nth-child(2){
            margin-left: 8px;
            display: inline;
            background: rgb(33, 94, 247);
            width: fit-content;
            padding: 6px 20px;
            border-radius: @radius-base6;
            color: white;
        }
        
    }

    span:last-child {
        width: 100%;
        display:flex;
        justify-content: end;
    }


}

#teamViewButton {
    .button-black();
    width:fit-content;


}


#teamJoinButton {
    .button-black-square();
}