@import '../../newStyles/text.less';
@import '../../newStyles/components.less';
@import '../../newStyles/index.less';

.ProfilePage {
  // removes any default white space margins
  .noContainer();

  // prevents layout shifts caused by scrollbar
  overflow-y: hidden;
  background: @white;


  .profileHeader {
    padding: 2rem;

    display: flex;

    h1 .profileName {
      color: @orange;
    }

    h1 {
      margin-bottom: 0;
    }
  }

  .diamond {
    border: double 0.5em transparent;
    border-radius: 2em;
    background-image: linear-gradient(white, white), linear-gradient(to right, @danger, @mainyellow);
    background-origin: border-box;
    background-clip: content-box, border-box;

    aspect-ratio: 1;
    max-width: 250px;
    rotate: 45deg;
    margin: 80px auto;

    @media (min-width: @md) and (max-width: @lg) {
      max-width: 200px;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    div {
      rotate: -45deg;
      text-align: center;
    }
  }

  .pinkContainer {
    display: flex;
    flex-direction: column;
    border: 3px solid @mainred;
    border-radius: @radius-base5;
    background-color: #FFF8F8;
    max-width: 80%;
    padding: 2rem 2rem;
    margin: 4rem 2rem;
    gap: 1.5rem;

    div:has(.editIcon) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    h3 {
      font-weight: @semi-bold;
    }

    p {
      font-size: 1.5rem;

      i {
        font-style: italic;
      }
    }
  }

  .editIcon > svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .profileGradientLine {
    .gradient();
    height: 8px;
    z-index: 100;
    margin: 5rem 0rem;
  }

  .exploreSection {
    justify-content: center;
    padding: 5rem 0rem 10rem; 

    .competitionsSection {
      display: flex;
      justify-content: center;
      text-align: center;

      .compsContainer {
        align-items: center;
        text-align: center;
        align-content: center;
        border: 3px solid @mainred;
        border-radius: @radius-base5;
        max-width: 80%;
        padding: 5rem 10rem;
        margin: 0rem 5rem 5rem 5rem;

        .compsHeader {
          font-weight: @bold;
        }
        
        .compsDescription {
          max-width: 60%;
          padding: 2rem;
          text-align: center;
          margin:0 auto;
        }
  
        .navButton {
          .button-colorful();
          font-weight: @bold;
          font-size: 1.5rem;
          padding: 2rem 5rem;
        }
      }
    }
    
    .exploreDescription {
      padding-top: 1rem;
    }

    .exploreCards {
      outline: solid;
      outline: #F66161;
  
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .exploreCard {
        box-shadow: none;
        outline: none;
        text-align: left;
        padding: none;
        margin: 3rem;

        .cover {
          height: 30rem;
          object-fit: cover;
          border-radius: 45px;
          overflow: hidden;
        }
    
        .areaDirect {
          align-items: center;
          justify-content: space-between;

          h4 {
            font-weight: @semi-bold;
            font-size: 2.5rem;
          }
    
          p {
            color: @text-gray;
          }

          .navButton {
            border-radius: 20px;
            padding: 0rem 3rem;
            .button-colorful();
          }
        }
      }
    }
  }
}

.colorful{
  background: linear-gradient(#F66161, #FF8130);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;  /* For Firefox */
  color: transparent;
}
