@import '../../newStyles/text.less';
@import '../../newStyles/components.less';
@import '../../newStyles/index.less';

.ProjectsPage {
    .noContainer();

    .projectsHero {
        .gradient-hero();
        .headerContent {
            .generic-centered-section();
            margin-top: 9.5rem;
        }
    }

    .projectsSection {
        .generic-section();
        margin: 2rem;

        .ant-tag-checkable {
            line-height: 2rem;
        }
    }

    .project-image{
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 8px -5px 18px gray;
    }
    .project-info{
        width: 500px;
    }

    @media screen and (max-width: @xs) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

