.project-section{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.project-image{
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 8px -5px 18px gray;
}
.project-info{
    width: 500px;
}