@import '../../../newStyles/text.less';
@import '../../../newStyles/components.less';
@import '../../../newStyles/index.less';


.CompetitionPortalPage {
  .noContainer();
  height: 100vh;

  // prevents layout shifts caused by scrollbar 
  background: @white;


  #portalHeader{
    .generic-section();
    .constrained-bounds();
    max-width: 1200px !important;
    margin-top: 4rem;
  }




  #portalStatsContent {

    p#noTeamMessage {
      margin-top: 2rem;
      text-align: left;
      background: @black;
      border-radius: @radius-base4;
      padding: @padding-base3;
      max-width: @sm;
      color: @white;

    }
    
  }



  #portalTabContent {
    .generic-section();
    .constrained-bounds();
    height: 100vh;

    max-width: 1200px !important;
    .ant-tabs-ink-bar {
      display: none;
    }
  }


  #findTeamsContainer {


    Input {
      line-height: 2.5rem ;
      font-size: @font3;
    }
  }

}


#leaderBoardContainer {

  section {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    
    Button {
      .button-black-square();
    }
  }
}

#myTeamContainer {
  #teamNameInput {
    max-width: 300px;
  }

  #makeTeamButton {
    margin-top: 1rem;
  }

  #teamAffix {
    box-sizing: border-box;
    box-shadow: @bx2;
    border-radius: @radius-base4;
    padding: @padding-base3;
  }
}

