@import '../../../newStyles/text.less';
@import '../../../newStyles/components.less';
@import '../../../newStyles/index.less';


.CompetitionPortalPage {
  .noContainer();
  height: 100vh;

  // prevents layout shifts caused by scrollbar 
  background: @white;


  #portalHeader{
    .generic-section();
    .constrained-bounds();
    max-width: 1200px !important;
    margin-top: 4rem;
  }




  #portalStatsContent {
    width: 100%;
    margin-top: 2rem;


    section#noTeamMessage {
      min-height: 100px;
      text-align: left;
      align-items: center;
      background: @black;
      border-radius: @radius-base4;
      padding: @padding-base2;
      max-width: @sm;
      color: @white;
    }

    section {
      display: inline-flex;
    }
    .portalStatsBox {
      min-height: 100px;
      width: 100%;
      padding:  @padding-base2;
      border-radius: @radius-base4;
      display: flex;
      flex-direction: column;

      h3, p {
        color: white;
      }
    }


    .portalStatsBox:first-child {
      background-color: @p3;
    }

    .portalStatsBox:not(:first-child) {
      background-color: @light-gray;
      h3, p {
        color: black;
      }
    }

    .portalStatsBox:not(:last-child) {
      margin-right: 2rem;
    }
    
  }



  #portalTabContent {
    .generic-section();
    .constrained-bounds();
    height: 100vh;

    max-width: 1200px !important;
    .ant-tabs-ink-bar {
      display: none;
    }
  }


  #findTeamsContainer {
    margin-bottom: 5rem;

    Input {
      line-height: 2.5rem ;
      font-size: @font3;
    }
  }

}


#leaderBoardContainer {

  section {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;

    p#lastRefreshedText {
      background: @light-gray;
      border-radius: @radius-base4;
      padding: @padding-base;
      margin-right: 2rem;
    }

    Button {
      .button-black-square();
    }
  }
}

#myTeamContainer {


  #teamNameInput {
    max-width: 300px;
  }

  #makeTeamButton {
    margin-top: 1rem;
  }

  #teamAffix {
    box-shadow: @bx2;
    border-radius: @radius-base4;
    padding: @padding-base3;
  }
}

