@import '../../newStyles/text.less';
@import '../../newStyles/components.less';
@import '../../newStyles/index.less';



.EventsPage {
  // removes any default white space margins
  .noContainer();
  background: white;

  .eventsTopBar {
    .gradient();
    width: 100%;
    padding: 1.5rem 0;
    max-height: 70px;
    min-height: 30px;
  }

  
  // Container for title
  .eventsHeader {
    padding-top: 5rem;
    .center-both-ways();
    text-align: center;

    h4 {
      max-width: 600px;
      margin: 0 2rem;
      width: 60%;

      @media screen and (max-width: @sm) {
        width: 70%;
      }

      color: @black;

      text-align: center;
    }
  }

  .eventsContent {

    .generic-section();
    .constrained-bounds();
    margin-bottom: 10rem;

    .ant-tabs-ink-bar {
      display: none;
    }

    .eventsList {
      flex-direction: column;
      text-align: start;
      margin-top: 2rem;
      .eventsDescription {
        h3 {
          font-weight: @semi-bold;
        }
        
     
      }
  
    }

  }



  // Footer for events page
  .eventsFooter {
    padding-left: 48px;
    padding-right: 48px;

    @media screen and (max-width: @xs) {
      padding-left: 32px;
      padding-right: 32px;
    }

    width: 100%;
    min-width: 180px;
    background-color: @black;
    color: @white;

    .row {
      padding: 12px;
      margin-top: 12px;
      margin-bottom: 4rem;
      max-width: @lg;
     

      h2 {
        color: @white;
      }

  
      h4 {
        color: @white;
      }
  
      p {
        color: @white;
      }
    }
    h3 {
      @color: @white;
      text-align: center;
    }

  }


}
