@import '../../newStyles/text.less';
@import '../../newStyles/components.less';
@import '../../newStyles/index.less';

.Events {
  // removes any default white space margins
  .noContainer();
  margin-top: 9.5rem;

  // Container for title
  .eventsHeader {
    .center-both-ways();
    text-align: center;
  }

  .upcomingEvents {
    .constrained-bounds();
    .center-both-ways();
  }

  // Footer for events page
  .eventsFooter {
    padding-left: 48px;
    padding-right: 48px;

    @media screen and (max-width: @xs) {
      padding-left: 32px;
      padding-right: 32px;
    }

    width: 100%;
    min-width: 180px;
    background-color: @black;
    color: @white;

    .row {
      padding: 12px;
      margin-top: 12px;
      margin-bottom: 4rem;
      max-width: @lg;
     

      h2 {
        color: @white;
      }

  
      h4 {
        color: @white;
      }
  
      p {
        color: @white;
      }
    }
    h3 {
      @color: @white;
      text-align: center;
    }

  }


}
