@import '../../newStyles/text.less';
@import '../../newStyles/components.less';
@import '../../newStyles/index.less';



.EventsPage {
  // removes any default white space margins
  .noContainer();

  // prevents layout shifts caused by scrollbar 
  overflow-y: hidden;
  background: @white;

  
  // Container for title
  .eventsHeader {
    .generic-centered-section();
    .constrained-bounds();
    margin-top: 4rem;
    text-align: center;

    h1 {
      .text-colorful();
    }

    h4 {
      text-align: center;
      max-width: @max-width2;
      margin: 0 @margin-base2;
      width: 60%;

      @media screen and (max-width: @sm) {
        width: 70%;
      }
    }
  }

  .eventsContent {

    .generic-section();
    .constrained-bounds();
    margin-bottom: 10rem;

    .ant-tabs-ink-bar {
      display: none;
    }

    .eventsList {
      flex-direction: column;
      text-align: start;
      margin-top: 2rem;
      .eventsDescription {
        h3 {
          font-weight: @semi-bold;
        }
      }
    }
  }


  // Custom Footer for Events Page
  .eventsFAQ {
    width: 100%;
    min-width: 180px;
    margin-bottom: 6rem;

    padding-left: @padding-base2;
    padding-right: @padding-base2;

    @media screen and (max-width: @xs) {
      padding-left: @padding-base !important;
      padding-right: @padding-base !important;
    }

  
    .row {
      padding: @padding-base;
      margin-top: @margin-base;
      margin-bottom: 2rem;
      max-width: @lg;

      .colorful {
        .text-colorful();
      }

    }
    h3 {
      text-align: center;
    }
  }

}