@import '../../styles/base.less';
@import '../../newStyles/variables.less';
.Header {
  line-height: 1.5rem;
<<<<<<< HEAD
  font-size: 1.2rem;
  padding: 2rem 0;
=======
  font-size: 1.3rem;
  padding: 2rem;
>>>>>>> about-redesign
  font-weight: @semi-bold;
  position: fixed;
  width: 100%;
  z-index: 2;
  top:0;
<<<<<<< HEAD
  background-color: @white;
=======
  z-index: 2;
>>>>>>> about-redesign
  box-shadow: 0px 3px 5px 1px rgba(189, 189, 189, 0.5);

  .empty {
    flex-grow: 1;
    cursor: default;
  }
  .login-item {
    padding-right: 0px;
  }
  .profile-item {
    padding-right: 0px;
  }
}
