@import '../../styles/base.less';
@import '../../newStyles/variables.less';
.Header {
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  top:0;
  box-shadow: 0px 3px 5px 1px rgba(132, 132, 132, 0.5);
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .navItem{
    text-decoration: none;
    margin: 0 1rem;
    font-size: @font3;
    color: @black;
    font-weight: @semi-bold;
  }

  .authButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: @black;
    color: white;
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: @font3;
    border: none;
    text-decoration: none;
  }

  .logoWrapper {
    height: 50px;
    width: 50px;
  }

  .menuButton {
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
  }

  .navLinksWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}



.mobileDropDown {
  width: 100vw;
  max-height: 500px;
  display: flex;
  text-align: center;
  position: fixed;
  flex-direction: column;
  background: white;
  padding-top: 4rem;
  padding-bottom: 3rem;
  z-index: 99;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out; /* You can adjust the duration and easing as needed */
  box-shadow: 0px 3px 5px 1px rgba(132, 132, 132, 0.5);

  .mobileNavItem {
    text-decoration: none;
    font-size: @font4;
    color: @black;
    font-weight: @semi-bold;
    margin: 0.5rem 0;
  }
}

/* Final state - menu is visible */
.mobileDropDown.open {
  height: auto;
  transform: translateY(0);
}