@import '../../styles/base.less';
@import '../../newStyles/variables.less';


.EventCard {
  background: #fafafa;
  box-shadow: 0px 3px 5px 1px rgba(197, 197, 197, 0.5);
  border-radius: 16px;
  margin: 2rem 0;
  padding: 2rem;


   .eventHeaderTexts {
  
      h3 {
        font-weight: @semi-bold;      
        max-width: 300px;
        line-height: @font4;
        color: #585858;
       }
       p{
        color: rgb(162, 162, 162);
        font-weight: @regular;
       }
   }

   .eventInfoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .eventDateContainer {
      display: flex;
      justify-content: flex-start;

      h4 {
        color: #FA5E5E;
        font-weight: @semi-bold;
      }
      p {
        color: rgb(67, 67, 67);
      }
    }

    .eventCardButton {
      background: @black;
      color: white;
      border: none;
      border-radius: 10px;
      margin-top: 1rem;
    }
   }

}

.eventModal {
  padding: 1rem;

  .eventScheduleButton {
    background: @black;
    color: white;
    border: none;
  }

  .eventModalContent {
    margin-top: 2rem;
    .eventDetailSection {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: flex-start;

      h4 {
        color: #FA5E5E;
        font-weight: @semi-bold;
      }
      p {
        color: rgb(67, 67, 67);
      }
    
    }
    .eventDescriptionBox {
      background: #F6F6F6;
      padding: 20px;
      border-radius: 15px;
      margin-bottom: 1.5rem;
    }
  }
}

.eventIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100px;

}

#calendar {
  background:#FFD4D4;
}

