@import '../../../styles/base.less';
@import '../../../newStyles/components.less';
@import '../../../newStyles/variables.less';

.CompetitionUploadPage {
  .generic-section();
  .constrained-bounds();

  h2 {
    padding-top: @padding-base3;
  }

  .upload-form-card {
    max-width: 80rem;
    .smack-center;
  }
  .upload-btn {
    width: 100%;
    
  }
  .upload-wrapper {
    
    width: 100%;
    .ant-upload {
      width: 100%;
    }
    margin-bottom: 2rem;
  }
  .desc {
    margin-bottom: 1rem;
  }
  .tags-list {
    margin-top: 15px;
  }
}
